<a mat-stroked-button [routerLink]="['/contact/new']" id="new-contact">Nuevo contacto</a>


<table mat-table [dataSource]="contacts" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname1">
    <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
    <td mat-cell *matCellDef="let contact"> {{contact.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="surname2">
    <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
    <td mat-cell *matCellDef="let contact"> {{contact.surname2}} </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
    <td mat-cell *matCellDef="let contact"> {{contact.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
    <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let contact">
      <button mat-icon-button color="primary" (click)="editContactDetail(contact.id); $event.stopPropagation()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="openDeleteDialog(contact.id); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="openDetailForm(row)"></tr>
</table>
